%section.content-header
  %hi
    My Bank

%section.content
  .row
    .col-md-12
      %h2
        Number of Accounts: #{number_of_accounts}
      %h2
        Number of Clients: #{number_of_clients}

  .row
    .col-md-12
